<h3>Student details</h3>

<table border="1">
    <tr>
        <td>Id</td>
        <td>@ViewBag.student.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@ViewBag.student.Name</td>
    </tr>
    <tr>
        <td>Id</td>
        <td>@ViewBag.student.Id</td>
    </tr>
    <tr>
        <td>BirthDate</td>
        <td>@ViewBag.student.BirthDate.ToString("dd/MM/yyyy")</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td><img src="~/images/@ViewBag.student.Photo" width="200px" height="200px" /></td>
    </tr>
    <tr>
        <td>Id</td>
        <td>
            @if (ViewBag.student.Score >= 8)
            {<span style="color: aquamarine;"> Gioi</span>}
            else if(ViewBag.student.Score >=5 && ViewBag.student.Score < 8){<span style="color: lightcoral;"> Kha</span>}
            else{<span style="color: palevioletred;"> Trung Binh</span>}

        </td>
    </tr>
</table>