<h3>Login </h3>

<label>@ViewBag.msg</label>
<form method="post" asp-controller="account" asp-action="login">

    <input type="text" name="username" value="" />
    <br />
    <input type="password" name="password" value="" />
    <br />
    
    <input type="submit" name="login" value="Submit" />
</form>