@model DemoSession5_Form.Models.Account
<h3>Register</h3>

<form method="post" asp-controller="account" asp-action="register">
    <table>
        <tr>
            <td>Username</td>
            <td><input type="text" asp-for="Username" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" asp-for="Password" /></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><textarea asp-for="Description" rows="5" cols="20"></textarea></td>
        </tr>
        <tr>
            <td>Status</td>
            <td><input type="checkbox" asp-for="Status" /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <input type="radio" asp-for="Gender" value="male" />
                <br />
                <input type="radio" asp-for="Gender" value="female" />
            </td>

        </tr>
        <tr>
            <td>Role</td>
            <td>
                <select asp-for="Role">
                    <option value="r1">Role1</option>
                    <option value="r2">Role2</option>
                    <option value="r3">Role3</option>
                    <option value="r4">Role4</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Address</td>
            
            <td>
                Street <input type="text" asp-for="Address.Street" />
                <br />
                Ward
                <input type="text" asp-for="Address.Ward" />
                <br />
                District
                <input type="text" asp-for="Address.District" />
            </td>
            
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Submit" />
                <input type="hidden" asp-for="Id" />
            </td>
        </tr>
    </table>
</form>

