<h3>ImportCSV</h3>

<form  method="get" enctype="multipart/form-data" asp-controller="product" asp-action="importCSV">

   CSV <input type="file" name="file" />
    <br />
    <input type="submit"  value="Import" />

</form>