<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $(function () {
        $("#from").datepicker({
           dateFormat: 'dd/mm/yy'
        });
        $("#to").datepicker({
            dateFormat: 'dd/mm/yy'
        });
    });
</script>

<h3>Page Product</h3>

<form method="get" asp-controller="product" asp-action="searchbykeyword">

    Name: <input type="text" name="name" />
    <input type="submit" value="Search" />
</form>

<form method="get" asp-controller="product" asp-action="searchbyprice">

    Min <input type="text" name="min" />
    Max <input type="text" name="max" />
    <input type="submit"  value="Search" />
</form>

<form method="post" asp-controller="product" asp-action="searchByDate">

    From <input type="text" name="from" id="from" />
    To <input type="text" name="to" id="to"/>
    <input type="submit"  value="Search" />
</form>

<br />
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Created</th>
    </tr>

    @foreach (var product in ViewBag.products)
    {
        <tr>
            <td>@product.Id</td>
            <td>@product.Name</td>
            <td><img src="~/images/@product.Photo" alt="Alternate Text" width="100px" height="100px" /></td>
            <td>@product.Price</td>
            <td>@product.Created.ToString("dd/MM/yyyy")</td>
        </tr>
    }


</table>