<h3>Upload file</h3>

<form method="post" asp-controller="demo" asp-action="upload1" enctype="multipart/form-data">

    Photo <input type="file" name="photo" />
    <br />
    <input type="submit" value="Submit" />


</form>


<h3>Upload files</h3>

<form method="post" asp-controller="demo" asp-action="upload2" enctype="multipart/form-data">

    Photo <input type="file" name="photos" multiple/>
    <br />
    <input type="submit" value="Submit" />


</form>