
@{
    ViewData["Title"] = "FooterAdd";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<h1>FooterAdd</h1>

<br />
<br />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">


                <div class="form-group">
                    <label>Name_contact</label>
                    <input type="email" class="form-control" placeholder="Enter a category name">

                </div>
                <div class="form-group">
                    <label>Icon_contact</label>
                    <input type="email" class="form-control" placeholder="Enter the icon">

                </div>
                <div class="form-group">
                    <label>conten_contact</label>
                    <input type="email" class="form-control" placeholder="Enter content">

                </div>

                <div class="form-group">
                    <label>Chọn menus cha</label>
                    <select class="form-control">
                        <option value="0">Chọn danh mục cha</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>


            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

