<h3>Page index</h3>
<a asp-area="customer" asp-controller="invoice" asp-action="index">Click me 1</a>
<br />
<a asp-area="customer" asp-controller="invoice" asp-action="index2" asp-route-id="123">Click me 2</a>
