
@{
    ViewData["Title"] = "Account";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

h t sau thu roi puah len xong ben t pull ve thu coi no co doi khong chu qua nay t pull ve cha thay code dau