
@{
    ViewData["Title"] = "MenuAdd";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<br />
<br />
<br />
<br />
<br />
<br />
<h1>MenuAdd</h1>
<br />
<br />

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">

               
                    <div class="form-group">
                        <label>Tên Menus</label>
                        <input type="email" class="form-control" placeholder="Nhập tên danh mục">

                    </div>
                    <div class="form-group">
                        <label>Chọn menus cha</label>
                        <select class="form-control">
                            <option value="0">Chọn danh mục cha</option>

                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
            

            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

