<h3>Index page</h3>
<a asp-controller="demo2" asp-action="index5">Menu 1</a>
<a asp-controller="demo2" asp-action="index2" asp-route-id="123">menu 2</a>
<a asp-controller="demo2" asp-action="index3" asp-route-id1="333" asp-route-id2="kkkk">MEnu 3</a>
<a asp-controller="demo2" asp-action="index4" asp-route-id1="333" asp-route-id2="kkkk">MEnu 4</a>