@model Portfolio5.Models.View
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<br />
<br />
<br />
<br />
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">


                <form method="post" asp-action="edit" asp-controller="view" enctype="multipart/form-data">

                    <div class="form-group">
                        <label for="IdView">Id View</label>
                        <input type="text" asp-for="IdView" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdAccount">Id Account</label>
                        <input type="text" asp-for="IdAcc" class="form-control" id="IdAccount" placeholder="Id Account" />
                    </div>
                    <div class="form-group">
                        <label for="IdViewer">Id Viewer</label>
                        <input type="text" asp-for="IdViewer" class="form-control" id="IdViewer" placeholder="Id Viewer" />
                    </div>
                    <div class="form-group">
                        <label for="NumOfView">Num Of View</label>
                        <input type="text" class="form-control" id="NumOfView" placeholder="Num Of View" />
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" asp-for="IdView" />
                        <input type="submit" value="Edit" class="btn btn-warning" id="btnEdit" />


                    </div>
                </form>


            </div>

        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>