
@{ ViewData["Title"] = "SessionPage";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<br />
<br />
<br />
<div style="min-height: 1665.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Session page Manager</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item active"></li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">session_page</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 10%">
                                id_sess
                            </th>
                            <th style="width: 10%">
                                id_content_page
                            </th>
                            <th style="width: 20%">
                                name_sess
                            </th>
                            <th style="width: 19%">
                                title_sess
                            </th>
                            <th style="width: 20%">
                                content_sess
                            </th>

                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_sess  in here ---
                                </a>
                            </td>
                            <td>
                                id_content_page in here ---
                            </td>
                            <td>
                                name_sess  in here ---
                            </td>
                            <td>
                                title_sess  in here ---
                            </td>
                            <td>
                                content_sess  in here ---
                            </td>

                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Subtitle session page </h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 10%">
                                id_subtitle_sess
                            </th>
                            <th style="width: 10%">
                                id_sess
                            </th>
                            <th style="width: 20%">
                                subtitle_sess
                            </th>
                            <th style="width: 30%">
                                content_subtitle
                            </th>
                            <th style="width: 20%">
                                
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_subtitle_sess  in here ---
                                </a>
                            </td>
                            <td>
                                id_sess in here ---
                            </td>
                            <td>
                                subtitle_sess in here ---
                            </td>
                            <td>
                                content_subtitle in here ---
                            </td>


                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Photo session page</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                id_photo_sess
                            </th>
                            <th style="width: 20%">
                                id_sess
                            </th>

                            <th style="width: 29%">
                                photo_sess
                            </th>

                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_photo_sess  in here ---
                                </a>
                            </td>
                            <td>
                                id_sess in here ---
                            </td>
                            <td>
                                photo_sess  in here ---
                            </td>

                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Url session page</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 10%">
                                id_url_sess
                            </th>
                            <th style="width: 10%">
                                id_sess
                            </th>
                            <th style="width: 40%">
                                url_sess
                            </th>


                            <th style="width: 20%">
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_url_sess  in here ---
                                </a>
                            </td>
                            <td>
                                <a>
                                    id_sess  in here ---
                                </a>
                            </td>
                            <td>
                                <a>
                                    url_sess  in here ---
                                </a>
                            </td>


                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>

    </section>
    <!-- /.content -->
</div>