
@{ ViewData["Title"] = "Slider";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml"; }
<style>
    .dropdown .dropbtn {
        font-size: 16px;
        border: none;
        outline: none;
        color: white;
        padding: 14px 16px;
        background-color: inherit;
        font-family: inherit;
        margin: 0;
    }



    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            float: none;
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }



    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
<br />
<br />
<br />
<div style="min-height: 1665.6px;">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Slider Manager</h1>
                </div>
                <div class="col-sm-6">
                    <br />
                    <ol class=" float-sm-right">
                        <div class="dropdown">
                            <button class="btn btn-primary">
                                Page
                                <i class="fa fa-caret-down"></i>
                            </button>
                            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                            <div class="dropdown-content">
                                <a href="https://www.youtube.com/watch?v=K8hATlKYRMw">Page 1</a>
                                <a href="https://www.youtube.com/watch?v=K8hATlKYRMw">Page 2</a>
                                <a href="https://www.youtube.com/watch?v=K8hATlKYRMw">Page 3</a>
                            </div>
                        </div>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">

        <!-- Default box -->
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Slider</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 80%">
                                id_slider
                            </th>
                            <th style="width: 10%">
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#slider " onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_slider  in here ---
                                </a>
                            </td>
                          
                            <td class="project-actions text-right">
                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">Slider url</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 20%">
                                id_url_slider
                            </th>
                            <th style="width: 20%">
                                url_slider
                            </th>
                            <th style="width: 20%">
                                name_url
                            </th>
                            <th style="width: 20%">
                                photo
                            </th>
                            <th style="width: 10%">
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#slider_url" onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>
                            </th>

                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_slider  in here ---
                                </a>
                            </td>
                            <td>
                                url_slider in here ---
                            </td>
                            <td>
                                url_slider in here ---
                            </td>
                            <td>
                                url_slider in here ---
                            </td>

                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card collapsed-card">
            <div class="card-header">
                <h3 class="card-title">slider_part</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                        <i class="fas fa-plus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0" style="display: none;">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width: 1%">
                                #
                            </th>
                            <th style="width: 5%">
                                id_slider_part
                            </th>
                            <th style="width: 10%">
                                title_part
                            </th>
                            <th style="width: 10%">
                                content_part
                            </th>
                            <th style="width: 10%">
                                name_url
                            </th>
                            <th style="width: 20%">
                                url_slider
                            </th>
                            <th style="width: 24%">
                                photo
                            </th>
                            <th style="width: 10%">
                                <button type="button" class="btn btn-success " data-toggle="modal" data-target="#slider_part" onclick="clearTextBox();"><i class="fas fa-plus">ADD</i></button>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>
                                #
                            </td>
                            <td>
                                <a>
                                    id_url_slider  in here ---
                                </a>
                            </td>
                            <td>
                                id_slider in here ---
                            </td>
                            <td>
                                name_url  in here ---
                            </td>
                            <td>
                                url_slider  in here ---
                            </td>
                            <td>
                                url_slider  in here ---
                            </td>
                            <td>
                                url_slider  in here ---
                            </td>

                            <td class="project-actions text-right">

                                <a class="btn btn-info btn-sm" href="#">
                                    <i class="fas fa-pencil-alt">
                                    </i>
                                    Edit
                                </a>
                                <a class="btn btn-danger btn-sm" href="#">
                                    <i class="fas fa-trash">
                                    </i>
                                    Delete
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        

    </section>
    <!-- /.content -->
</div>
<div class="modal fade" id="slider" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
               
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IdView">Id Slider</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    

                    
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnEDit" onclick="return Edit();">Edit</button>
                @*<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="slider_part" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>              
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IdView">id_slider_part</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">id_slider</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">title_part</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">content_part</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">name_url</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">url_slider</label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">photo</label>
                        <input type="file" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnEDit" onclick="return Edit();">Edit</button>
                @*<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="slider_url" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
               
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="IdView">id_url_slider </label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">photo </label>
                        <input type="file" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">url_slider </label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>
                    <div class="form-group">
                        <label for="IdView">name_url </label>
                        <input type="text" class="form-control" id="IdView" placeholder="Id View" disabled="disabled" />
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="btnAdd" onclick="return Add();">Add</button>
                <button type="button" class="btn btn-primary" id="btnEDit" onclick="return Edit();">Edit</button>
                @*<button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>*@
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>