<h3>Product Details</h3>

<table border="1">
    <tr>
        <td>Id</td>
        <td>@ViewBag.product.Id</td>
    </tr>
    <tr>
        <td>Name</td>
        <td>@ViewBag.product.Name</td>
    </tr>
    <tr>
        <td>Photo</td>
        <td><img src="~/images/@ViewBag.product.Photo" width="100px" height="100px" /></td>
    </tr>
    <tr>
        <td>Price</td>
        <td>@ViewBag.product.Price</td>
    </tr>

</table>

<a asp-controller="product" asp-action="index">Go Back</a>
