<h3>Page Product</h3>
<br />
<table border="1">
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Photo</th>
        <th>Price</th>
        <th>Action</th>
    </tr>

    @foreach (var product in ViewBag.product)
    {
<tr>
    <td>@product.Id</td>
    <td>@product.Name</td>
    <td><img src="~/images/@product.Photo" width="100px" height="100px" /></td>
    <td>@product.Price</td>
    <td><a asp-controller="product" asp-action="details" asp-route-id="@product.Id">Details</a></td>
</tr>
            }

      
    </table>